<ul>
    <li *ngFor="let item of getItems()" [ngClass]="{'open':item.isOpen,'file':item.isFile()}">
        <a class="toggle" (click)="toggle(item)"></a>
        <a class="text" (click)="select(item)">{{item.text}}</a>
        <treeview [root]="item" [options]="option" (onSelect)="select($event)"></treeview>
    </li>
</ul>